/* src/index.css */

@font-face {
  font-family: "Chillax";
  src: url("./Goldplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Chillax";
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 33% 50%;
  }
  50% {
    background-position: 66% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientMove 6s ease-in-out infinite;
}
